<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Детали заказа</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<div class="back"></div>
<nav>
  <a href="/orders/all">Просмотр списка заказов</a>
  <a href="#">Поиск клиента</a>
  <a href="/orders"><img src="/img/login.png"/>Выйти</a>
</nav>
<body>
<header>
  <h1>Еда</h1>
</header>
<main>
  <div class="leftcolumn">
    <span th:if="${error}" th:text="${error}"/>
    <form th:action="@{createOrder}" th:object ="${order}" th:method="post">
      <select th:field="*{customer}">
        <option th:each="customer : ${customers}" th:value="${customer.phone}"
                th:text="${customer.phone}">
        </option>
      </select>
      <select th:field="*{status}">
        <option th:each="code : ${statusList.keySet()}" th:value="${statusList.get(code)}"
                th:text="${statusList.get(code).description}">
        </option>
      </select>
      <input type="text" th:field="*{orderSum}" name="orderSum" />
      <input type = "submit" value = "Создать заказ" />
    </form>
  </div>
</main>
</body>
</html>