<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Детали заказа</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<div class="back"></div>
<nav>
    <a href="/orders/all">Просмотр списка заказов</a>
    <a href="/orders"><img src="/img/login.png"/>Выйти</a>
</nav>
<body>
<header>
    <h1>Еда</h1>
</header>
    <main>
      <div class="leftcolumn">
        <ul>
            <li>Номер заказа: <span th:text="${order.id}"></span></li>
            <li>Номер клиента: <span th:text="${order.customer.phone}"></span></li>
            <li>Статус: <span th:text="${order.status.description}"></span></li>
            <li>Дата создания: <span th:text="${order.created}"></span></li>
            <li>Дата последнего изменения: <span th:text="${order.lastModified}"></span></li>
            <li>Сумма заказа: <span th:text="${order.orderSum}"></span></li>
        </ul>
        <form th:action="@{editStatus}" th:object ="${order}" th:method="post">
            <input type="hidden" th:field="${order.id}" name="id" />
            <input type="hidden" th:field="*{customer}" th:value="${order.customer}" id="customer" />
            <select th:field="*{status}">
                <option th:each="code : ${statusList.keySet()}" th:value="${statusList.get(code)}"
                        th:text="${statusList.get(code).description}">
                </option>
            </select>
            <input type="hidden" th:field="${order.created}" name="created" />
            <input type="hidden" th:field="${order.orderSum}" name="orderSum" />
            <input type = "submit" value = "Изменить статус заказа" />
        </form>
      </div>
        <div class="rightcolumn">
            <table>
                <thead>
                <tr>
                    <th>Статус</th>
                    <th>Дата изменения</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="record : ${statusHistory}">
                        <td><span th:text="${record.status.description}"></span></td>
                        <td><span th:text="${record.date_set}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
